@charset "UTF-8";

/* 回答はここに書いてね */
.q1{
  background-color: #eff3f4;
  width: 940px;
  margin: 0 auto;
}

.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

.triple_box{
  background-color: #022336;
  border: 20px solid #3274ae;
  padding: 10px;
  margin-left: 20px;
  width: 230px;
  float: left;
}

.in_the_box{
  background-color: #eaf4ff;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
}
/* 回答はここに書いてね */
