@charset "UTF-8";

/* 回答はここに書いてね */
.q4{
  box-sizing: border-box;
  padding: 20px;
}

.large__box{
  display: table;
  width: 100%;
  margin-top: 20px;
}

.large__box:first-child{
  margin-top: 0;
}

.bobox{
  display: table-cell;
  text-align: center;
  padding: 20px;
}

.first{
  background-color: #fdc8b8;
  width: 100px;
}

.second{
  background-color: #e0abd9;
  width: auto;
}

.third{
  background-color: #b6d8ed;
  width: 100px;
}

.fourth{
  background-color: #e5d32e;
  width: auto;
}

.fifth{
  background-color: #ec8f9a;
  width: auto;
}

.sixth{
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
