@charset "UTF-8";

/* 回答はここに書いてね */
.small{
  border-radius: 3px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
  line-height: 26px;
  padding: 0 15px;
  box-sizing: border-box;
  cursor: pointer;

}

.middle{
  border-radius: 5px;
  font-size: 20px;
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  padding: 0 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.large{
  border-radius: 7px;
  font-size: 24px;
  display: inline-block;
  margin-left:10px;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
  padding: 0 25px;
  box-sizing: border-box;
  cursor: pointer;
}

.common{
  background-color: #00bcd4;
  color: white;
}

.error{
  background-color: #ff4081;
  color: white;
}

.disabled{
  background-color: #e5e5e5;
  color: white;
}

.shadow{
  background-color: white;
  color: #222;
  box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);
}

.form{
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ECF1F2;
}

.form__exercize{
  position: relative;
  margin-bottom: 20px;
}

.exercize{
  font-size: 24px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #ecf1f2;
}

.form__exercize:before {
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  content: "";
  background-color: #ccc;
}

.margin{
  margin-bottom:20px;
}
.margin > li{
  margin-top: 20px;
}

.margin > li:first-child{
  margin-top: 0;
}

.kome{
  color: #f00;
}

.left__word{
  float: left;
  width: 100px;
  line-height: 25px;
  text-align: right;
  padding-right: 20px;
}


.left__text{
  float: right;
  width: 180px;
}

.left__text__box{
  width: 100%;
  padding: 5px;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}

.left__button{
  float: right;
}

.left__checkbox{
  text-align: right;
}
.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

.left__box{
  float: left;
}

.right__box{
  float: right;
  width: 380px;
}

.right__text__box{
  width: 100%;
  height: 203px;
  padding: 10px;
  background-color: #fff;
  font-size: 12px;
  box-sizing: border-box;
  resize: none;
  border-radius: 3px;
}

.gender__span{
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.gender__span:before{
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border:1px solid #ccc;
  border-radius: 50%;
  content:'';
}

.radio__btn{
  display: none;
}

.radio__btn:checked + .gender__span:after{
  position: absolute;
  top:50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top:-4px;
  background-color: #00bcd4;
  border-radius: 50%;
  content: '';
}

.left__select{
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.select__display:after{
  display: block;
  position: absolute;
  top: 4px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  transform: rotate(45deg);
  content:"";
  pointer-events: none;
}

.select__display{
  position: relative;
}

.input__webkit{
  border:none;
  border-radius: 0;
  font-size: 12px;
  outline: none;
  -webkit-appearance:none;
  border:none;
}

.old__check__box{
  position: relative;
  display: inline-block;
  padding-left:24px;
}

.old__check__box:before{
  position: absolute;
  top:50%;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top:-9px;
  background-color: #fff;
  border:1px solid #ccc;
  content: '';
}

.checkbox{
  text-align: right;
}

.input__old{
  display: none;
}

.input__old:checked + .old__check__box:after{
  position: absolute;
  top:50%;
  left: 6px;
  margin-top: -14px;
  width: 8px;
  height: 16px;
  border-right:3px solid #00bcd4;
  border-bottom:3px solid #00bcd4;
  transform: rotate(45deg);
  content: "";
}

.left__button{
  padding: 0 10px;
  border-radius: 5px;
  background-color: #00bcd4;
  color: #fff;
  cursor: pointer;
  font-size:16px;
  line-height: 26px;
}

.left__button:active{
  background-color: #fff;
  color:#00bcd4;
  outline: #fff
}

.focus:focus{
  box-shadow: 0 0 7px #00bcd4;
}
/* 回答はここに書いてね */
